* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.bodyHeader {
    width: 100%;
    height: auto;
    background-color: white;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.blocoImag {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}

.blocoImag img {
    width: 70px;
    height: 70px;
}

.espacoLinks {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4rem 0rem 1rem;
}

.espacoLinks a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    margin: 0rem 1rem;
    transition: 0.3s ease-in-out;
}

.bodyHeader a:hover {
    color: blue;
}

.espacoImagem1{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-top: 3rem;
}

.espacoTitulo1{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.espacoTitulo1 h1{
    font-size: 1.5rem;
    font-weight: bold;
}

.espacoImagem1 img{
    width: 900px;
    height: 200px;
    height: auto;
    margin-top: 4rem;
    border-radius: 0.5rem;
}

.espacoImagem2{
    width: 100%;
    height: auto;
    margin: 7rem 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0rem 10%;
}

.espacoTitulo2{
    width: 50%;
    height: auto;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 2rem;
}

.espacoTitulo2 h1{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.espacoImagem2 img{
    width: 30%;
    height: auto;
    margin-top: 4rem;
    border-radius: 0.5rem;
}

footer{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem 2rem 1.5rem 2rem;
    color: white;
    background-color: #2D2D2D;
 }

 .mensagemFooter{
    font-size: 15px;
    font-weight: bold;
 }

@media (max-width: 800px) {

    .espacoTitulo1{
        padding: 0rem 1rem;
    }
    .espacoTitulo1 h1{
        font-size: 1.2rem;
        font-weight: bold;
    }

    .espacoImagem1 img{
        width: 80%;
        height: auto;
        border-radius: 0.5rem;
        margin-top: 1rem;
    }

    .espacoImagem2{
        flex-direction: column;
        margin-top: 1rem;
        justify-content: start;
    }
    
    .espacoTitulo2{
        width: 100%;
        height: auto;
        padding: 2rem 1rem 0rem;
        margin-top: 5rem;
    }

    .espacoImagem2 img{
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
    }
}

