* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.bodyHeader {
    width: 100%;
    height: auto;
    background-color: transparent;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 99;
}
.blocoImag {
    width: 30%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blocoImag img {
    width: 70px;
    height: 70px;
    margin: 1rem;
}

.espacoLinks {
    width: 50%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scrolled {
    background-color: #2D2D2D;
    transition: background-color 0.3s ease-in-out;
}

.scrolled .espacoLinks a {
    color: white;
}

.espacoLinks a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    margin: 0rem 1rem;
    transition: 0.3s ease-in-out;
}

.bodyHeader a:hover {
    font-size: 1.1rem;
}

.imagemEBtnVerMais {
    position: relative;
    width: 100%;
    height: 50rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url("./Assets/imagemFundoHome.png");
    background-size: cover;
    background-position: center;
    text-align: center;
}

.imagemEBtnVerMais::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(4px);
    z-index: 1;
}

.imagemEBtnVerMais > * {
    position: relative;
    z-index: 2;
}

#btnRegisterApresentacao {
    width: 9rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    border: 0;
    color: black;
    background-color: #E9B52E;
    cursor: pointer;
    z-index: 2;
    margin: 2rem 0rem;
    transition: 0.3s ease-in-out;
    font-size: 1rem;
}

#btnRegisterApresentacao:hover {
    font-size: 1.1rem;
}

#textSubApresentacao {
    width: auto;
    height: auto;
    font-size: 1.5rem;
    color: white;
    z-index: 2;
    font-weight: bold;
}

#linkVerMais {
    width: auto;
    height: auto;
    text-decoration: none;
    color: white;
    transition: color 0.3s ease-in-out;
    font-size: 1.1rem;
}

.blocoNovoVisualInfo {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.blocoTituloVisual {
    width: 75%;
    height: auto;
    display: flex;
    align-items: start;
    justify-content: start;
    text-align: start;
    flex-direction: column;
    margin-top: 2rem;
}

.blocoTituloVisual h1{
    font-size: 1.8rem;
    font-weight: bold;
}

.blocoTituloVisual p{
    font-weight: 300;
}

.blocoNovoVisualInfo {
    padding: 2rem 0rem;
}

.bodyCard {
    width: 75%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    align-items: start;
    justify-content: center;
    margin: 2rem 0rem 3rem;
}

.card {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    text-align: center;
}

.card img {
    width: 120px;
    height: 120px;
    border-radius: 0.5rem;
}

.textApresentacaoCard{
    padding: 0rem 1rem;
    text-align: start;
}

.textApresentacaoCard h1 {
    font-size: 1.2rem;
    font-weight: bold;
    font-family: sans-serif;
    margin: 0.5rem 0rem 0rem;
}

.textApresentacaoCard p {
    font-size: 1rem;
    font-weight: 300;
}



.blocoSobreOqueOferecemos{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0rem;
}

#imagemParaOqueOferecemos{
    width: 50%;
    border-radius: 0rem 15rem 15rem 0rem;
}

.espacoParaImagemETexto{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    text-align: center;
    padding: 0rem 3rem;
}

.bodyArcodios{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 3rem 0rem;
}

.espacoParaArcodios{
    width: 100%;
    height: 100%;
    padding: 1rem 0rem;
}

.espacoCirculo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: black;
    color: white;
    margin-right: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.espacoCirculo h1{
    font-size: 1.7rem;
    margin-bottom: 0;
    color: white;
}

.bodyArcodiosSecondarios{
    width: 75%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 3rem 0rem;
}

.bodyArcodiosSecondarios h1{
    font-size: 2rem;
    margin-top: 1rem;
}

footer{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem 2rem 1.5rem 2rem;
    color: white;
    background-color: #2D2D2D;
 }

 .mensagemFooter{
    font-size: 15px;
    font-weight: bold;
 }

@media (max-width: 800px) {
    .blocoDentroDoBodyHeader{
        width: 100%;
        justify-content: space-around;
    }
    
    .blocoImag img {
        width: 60px;
        height: 60px;
    }
    
    .bodyHeader a {
        font-size: 1rem;
        margin: 0rem 0.5rem;
    }
    
    .espacoBlocoLinks {
        width: 60%;
        height: 100%;
    }

    .btnEncaminharParaLogin {
        width: 6rem;
    }

    .mensagemDeInicio {
        padding: 10rem 10% 5rem;
    }

    .mensagemDeInicio h1{
        font-size: 1.5rem;
    }

    .mensagemDeInicio p {
        font-size: 1rem;
        margin-top: 1rem;
    }

    #textSubApresentacao {
    font-size: 1.2rem;
    margin: 0rem 2rem;
    }

    .bodyCard{
        width: 90%;
        flex-direction: column;
        display: flex;
    }

    .blocoSegundosCads{
        width: 100%;
    }

    .cardSegundo{
        flex-direction: column;
    }

    .cardSegundoImagemDois{
        flex-direction: column-reverse;
    }
    
    .espacoImagem{
        width: 90%;
    }

    .descricaoCardSegundo{
        width: 90%;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        padding-left: 0;
        margin-top: 1rem;
    }

    .descricaoCardSegundoCard{
        width: 90%;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        padding-left: 0;
        margin-top: 1rem;
    }

    .blocoSobreOqueOferecemos{
        flex-direction: column;
    }

    #imagemParaOqueOferecemos{
        width: 90%;
        border-radius: 0.5rem;
    }

    .espacoParaImagemETexto{
        width: 100%;
        margin-top: 1rem;
    }

    .bodyArcodios{
        text-align: center;
    }

    .espacosInputs{
        width: 90%;
    }

    .espacoParaTitulos{
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

    .espacoLinks {
        width: 60%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

